.content {
  @include tablet-min {
    margin-left: 25px;
    margin-top: 50px;
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
  }
  &__item {
    padding: 15px 25px 15px 10px;
    border: 1px solid $light-grey;
    border-radius: 5px;
  }
}
